<div class="container">
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-2 column list-width">
        <img id='<%= movie.id %>' data-bs-toggle="modal" data-bs-target="#modal-<%= movie.id %>" src="https://image.tmdb.org/t/p/w342<%= movie.poster_url %>" alt="movie poster for <%= movie.title %>">
        <div id="score-<%= movie.id %>" class="score">
          <% unless movie.rtscore.zero? %>
            <% if movie.rtscore > 60 %>
              <p class="rt-score"><%= image_tag "tomato.png", width: 37, height: 37, crop: :fill, style: "padding-right: 4px;" %><%= movie.rtscore %></p>
            <% else %>
              <p class="rt-score"><%= image_tag "tomatosplat.png", width: 37, height: 37, crop: :fill, style: "padding-right: 4px;" %><%= movie.rtscore %></p>
            <% end %>
          <% end %>
          <% unless movie.mcscore.zero? %>
          <p class="mc-score", style="background-color: <%= if movie.mcscore > 60 then '#67CC32' elsif movie.mcscore > 45 then '#FFCC33' else '#FF0101' end %>"><%= movie.mcscore %></p>
          <% end %>
        </div>
        <div class="modal fade" id="modal-<%= movie.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= movie.title %> (<%= movie.year %>)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-content">
                <h5>Description</h5>
                <p><%= movie.overview %></p>
                <h5>Cast</h5>
                <p><%= movie.cast.gsub(/[\[\]\"\"]/, '') %></p>
                <div class="flex-links">
                  <% unless movie.mcscore.zero? %>
                    <%= link_to '<i class="fa-solid fa-square" style="font-size: 40px; color: #67CC32;"></i>'.html_safe, "https://www.metacritic.com/movie/#{(movie.title).downcase.gsub(/[#^&@.]/, '').gsub(/\s/, '-')}", target: "_blank" %>
                  <% end %>
                  <%= link_to '<i class="fa-brands fa-youtube" style="font-size: 40px;"></i>'.html_safe, "https://www.youtube.com/watch?v=#{movie.video}", target: "_blank" %>
                  <%= link_to '<i class="fa-solid fa-pizza-slice" style="font-size: 40px; color: #E63946;"></i>'.html_safe, "https://www.rottentomatoes.com/m/#{(movie.title).gsub(/[#^&@.]/, '').gsub(/\s/, '_')}", target: "_blank" %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <%= button_to 'Save to Watchlist', "/#{movie.id}", class: "btn btn-primary", method: "patch", action: :update %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<h1>Watchlist</h1>
<div class="container">
  <div class="row d-flex flex-wrap">
  <% @saved.each do |movie| %>
    <div class="column saved">
      <img data-bs-toggle="modal" data-bs-target="#modal-<%= movie.id %>" src="https://image.tmdb.org/t/p/w342<%= movie.poster_url %>" alt="movie poster for <%= movie.title %>">
      <div id="score-<%= movie.id %>" class="score">
        <% unless movie.rtscore.zero? %>
          <% if movie.rtscore > 60 %>
            <p class="rt-score"><%= image_tag "tomato.png", width: 37, height: 37, crop: :fill, style: "padding-right: 4px;" %><%= movie.rtscore %></p>
          <% else %>
            <p class="rt-score"><%= image_tag "tomatosplat.png", width: 37, height: 37, crop: :fill, style: "padding-right: 4px;" %><%= movie.rtscore %></p>
          <% end %>
        <% end %>
        <% unless movie.mcscore.zero? %>
        <p class="mc-score", style="background-color: <%= if movie.mcscore > 60 then '#67CC32' elsif movie.mcscore > 45 then '#FFCC33' else '#FF0101' end %>"><%= movie.mcscore %></p>
        <% end %>
      </div>
    </div>
    <div class="modal fade" id="modal-<%= movie.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= movie.title %> (<%= movie.year %>)</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-content">
            <h5>Description</h5>
            <p><%= movie.overview %></p>
            <h5>Cast</h5>
            <p><%= movie.cast.gsub(/[\[\]\"\"]/, '') %></p>
            <div class="flex-links">
              <% unless movie.mcscore.zero? %>
                <%= link_to '<i class="fa-solid fa-square" style="font-size: 40px; color: #67CC32;"></i>'.html_safe, "https://www.metacritic.com/movie/#{(movie.title).downcase.gsub(/[#^&@.:%]/, '').gsub(/\s/, '-')}", target: "_blank" %>
              <% end %>
              <%= link_to '<i class="fa-brands fa-youtube" style="font-size: 40px;"></i>'.html_safe, "https://www.youtube.com/watch?v=#{movie.video}", target: "_blank" %>
              <%= link_to '<i class="fa-solid fa-pizza-slice" style="font-size: 40px; color: #E63946;"></i>'.html_safe, "https://www.rottentomatoes.com/m/#{(movie.title).gsub(/[#^&@.:%]/, '').gsub(/\s/, '_')}", target: "_blank" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= button_to 'Delete from Watchlist', "/#{movie.id}", class: "btn btn-danger", method: "patch", action: :update %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
