<!DOCTYPE html>
<html>
  <head>
    <title>Pick One Already</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark justify-content-between">
      <a href="/lists" class="navbar-brand"><i class="fa-solid fa-clapperboard"></i> Pick One Already</a>
      <form class="form-inline">
        <a href="/"><button class="btn first-nav btn-outline-primary my-2 my-sm-0" type="submit">Generate New Movies</button></a>
      </form>
    </nav>
    <div class="index-container">
      <%= yield %>
    </div>
  </body>
</html>
